<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Form validation Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<body style="background-color:powderblue;">
	<h1 th:text="${message}" align="center"></h1>
	<div class="container" align="center">
		<h2>Creating New Employee</h2>
		
		<form action="/" th:action="@{/ADD}" th:object="${emp}" method="post">
			<div class="form-group">
				<label for="forename">firstname:</label> <input type="text"
					class="form-control" id="firstname" placeholder="Enter Firstname"
					name="forename" th:field="*{firstname}"> <br />
				<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"
					class="alert alert-danger"></p>
			</div>
			<br>
			<div class="form-group">
				<label for="surname">surname:</label> <input type="text"
					class="form-control" id="surname" placeholder="Enter surname"
					name="surname" th:field="*{surname}"> <br />
				<p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
					class="alert alert-danger"></p>
			</div>
			<br>
			<div class="form-group">
				<label for="age">age:</label> <input type="number"
					class="form-control" id="salary" placeholder="Enter age" name="salary"
					th:field="*{salary}"> <br />
				<p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"
					class="alert alert-danger"></p>
			</div>
			<br>
			<div class="form-group">
				<label for="company">company:</label> <input type="text"
					class="form-control" id="gender" placeholder="Enter gender"
					name="company" th:field="*{gender}"> <br />
				<p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
					class="alert alert-danger"></p>
			</div>
			<br>
			



			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

</body>
</html>
