<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Service</title>

</head>

<body style="background-color:powderblue;">
	<h1 align="center">
		<b>Employee Details</b>
	</h1>
	
	<div align="center">
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Id</th>
					<th>Firstname</th>
					<th>Surname</th>
					<th>Salary</th>
					<th>Gender</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp : ${emplist}">
					<td th:text="${emp.id}">id</td>
					<td th:text="${emp.forename}">firstname</td>
					<td th:text="${emp.surname}">surname</td>
					<td th:text="${emp.age}">salary</td>
					<td th:text="${emp.company}">gender</td>
					

				</tr>
			</tbody>
		</table>
		<a href="/addemployee">Add new Employee</a>
	</div>
</body>
</html>