<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Service</title>

</head>
<body>
<body style="background-color:powderblue;">
	<h1 align="center">
		
	</h1>
	<div align="center">
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Id</th>
					<th>Firstname</th>
					<th>Surname</th>
					<th>Salary</th>
					<th>Gender</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp : ${emplist}">
					<td th:text="${emplist.id}">id</td>
					<td th:text="${emplist.firstname}">firstname</td>
					<td th:text="${emplist.surname}">surname</td>
					<td th:text="${emplist.salary}">salary</td>
					<td th:text="${emplist.gender}">gender</td>

				</tr>

			</tbody>

		</table>
		<a href="/addemployee">Add new Employee</a>
	</div>
</body>
</html>